<h1>Adicionar nota:</h1>
<form class="form" action="/notes/save" method="POST">
  <div class="form-control">
    <label for="category">Categoria:</label>
    <input type="text" name="category" placeholder="Categoria da nota">
  </div>
  <div class="form-control">
    <label for="textnote">Nota:</label>
    <textarea name="textnote" cols="40" rows="5"></textarea>
  </div>
  <input type="submit" value="Cadastrar">
</form>